@import "./colors/colors.scss";

@font-face {
  font-family: Gotham-black;
  src: url("./../assets/font/gotham-black.woff2");
}

@font-face {
  font-family: Gotham-bold;
  src: url("./../assets/font/gotham-bold.woff2");
}

@font-face {
  font-family: Gotham-book;
  src: url("./../assets/font/gotham-book.woff2");
}

@font-face {
  font-family: Gotham-light;
  src: url("./../assets/font/gotham-light.woff2");
}
