<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="box-title">
      <h1>Reabertura<br />Smart fit</h1>
      <div class="line"></div>
      <p>
        O horário de funcionamento das nossas unidades está seguindo os decretos
        de cada município. Por isso, confira aqui se a sua unidadeestá aberta e
        as medidas de segurança que estamos seguindos.
      </p>
    </div>
    <app-forms></app-forms>
    <app-legends></app-legends>
    <app-footer></app-footer>
  </div>
</div>
